name: "JFrog-GitHub NPM Publish OIDC Integration"
on: push

permissions:
  id-token: write   # Required for OIDC
  contents: read    # Required for actions/checkout

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      OIDC_AUDIENCE: 'jfrog-github'
      OIDC_PROVIDER: 'github'
      PLATFORM_REPO: 'eks-npm'
    
    defaults:
      run:
        working-directory: ./package

    steps:
      - name: Checkout
        uses: actions/checkout@v4 # Updated to v4 for better performance

      - name: Setup Node
        uses: actions/setup-node@v4 # Updated to v4
        with:
          node-version: '20' # Specify your node version here

      - name: Setup JFrog CLI
        uses: jfrog/setup-jfrog-cli@v4 # Updated to v4
        env:
          JF_URL: ${{ secrets.JF_URL }}
        with:
          oidc-provider-name: ${{ env.OIDC_PROVIDER }}
          oidc-audience: ${{ env.OIDC_AUDIENCE }}

      - name: Set CLI Config
        run: jf npm-config --global=true --repo-resolve=$PLATFORM_REPO --repo-deploy=$PLATFORM_REPO

      - name: Install Dependencies
        run: jf npm install

      - name: Run tests
        run: npm test

      - name: Publish
        run: jf npm publish 

      - name: Publish Build info
        run: |
          jf rt build-collect-env
          jf rt build-add-git
          jf rt build-publish
